.column {
    display: inline-block;
    width: 48%;
    vertical-align: top !important;
    position: relative;
}

.column:before {
    font-size: 16px;
    text-align: left;
    display: block;
}

.column.es5:before {
    content: "ECMAScript 5";
}

.column.es6:before {
    content: "ECMAScript 6";
}

.column code {
    font-size: 70%;
}

pre.cover {
    position: absolute;
    margin: -25% 0 0 5%;
    box-shadow: none;
}

pre.cover code {
    padding: 0;
}
